/* quarto syntax highlight colors */
:root {
  --quarto-hl-ot-color: #003B4F;
  --quarto-hl-at-color: #657422;
  --quarto-hl-ss-color: #20794D;
  --quarto-hl-an-color: #5E5E5E;
  --quarto-hl-fu-color: #4758AB;
  --quarto-hl-st-color: #20794D;
  --quarto-hl-cf-color: #003B4F;
  --quarto-hl-op-color: #5E5E5E;
  --quarto-hl-er-color: #AD0000;
  --quarto-hl-bn-color: #AD0000;
  --quarto-hl-al-color: #AD0000;
  --quarto-hl-va-color: #111111;
  --quarto-hl-bu-color: inherit;
  --quarto-hl-ex-color: inherit;
  --quarto-hl-pp-color: #AD0000;
  --quarto-hl-in-color: #5E5E5E;
  --quarto-hl-vs-color: #20794D;
  --quarto-hl-wa-color: #5E5E5E;
  --quarto-hl-do-color: #5E5E5E;
  --quarto-hl-im-color: #00769E;
  --quarto-hl-ch-color: #20794D;
  --quarto-hl-dt-color: #AD0000;
  --quarto-hl-fl-color: #AD0000;
  --quarto-hl-co-color: #5E5E5E;
  --quarto-hl-cv-color: #5E5E5E;
  --quarto-hl-cn-color: #8f5902;
  --quarto-hl-sc-color: #5E5E5E;
  --quarto-hl-dv-color: #AD0000;
  --quarto-hl-kw-color: #003B4F;
}

/* other quarto variables */
:root {
  --quarto-font-monospace: "Fira Mono", "Menlo", "Andale Mono", monospace;
}

pre > code.sourceCode > span {
  color: #003B4F;
}

code span {
  color: #003B4F;
}

code.sourceCode > span {
  color: #003B4F;
}

div.sourceCode,
div.sourceCode pre.sourceCode {
  color: #003B4F;
}

code span.ot {
  color: #003B4F;
}

code span.at {
  color: #657422;
}

code span.ss {
  color: #20794D;
}

code span.an {
  color: #5E5E5E;
}

code span.fu {
  color: #4758AB;
}

code span.st {
  color: #20794D;
}

code span.cf {
  color: #003B4F;
}

code span.op {
  color: #5E5E5E;
}

code span.er {
  color: #AD0000;
}

code span.bn {
  color: #AD0000;
}

code span.al {
  color: #AD0000;
}

code span.va {
  color: #111111;
}

code span.pp {
  color: #AD0000;
}

code span.in {
  color: #5E5E5E;
}

code span.vs {
  color: #20794D;
}

code span.wa {
  color: #5E5E5E;
  font-style: italic;
}

code span.do {
  color: #5E5E5E;
  font-style: italic;
}

code span.im {
  color: #00769E;
}

code span.ch {
  color: #20794D;
}

code span.dt {
  color: #AD0000;
}

code span.fl {
  color: #AD0000;
}

code span.co {
  color: #5E5E5E;
}

code span.cv {
  color: #5E5E5E;
  font-style: italic;
}

code span.cn {
  color: #8f5902;
}

code span.sc {
  color: #5E5E5E;
}

code span.dv {
  color: #AD0000;
}

code span.kw {
  color: #003B4F;
}

.prevent-inlining {
  content: "</";
}

/*# sourceMappingURL=debc5d5d77c3f9108843748ff7464032.css.map */
